@import "variables";
@import "bootstrapOverhide";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// SVG properties

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Courgette');

// Côco #a17f40   Agua #35a3b7  Amarelo #facc32
$section-padding: 50px;

body {
  margin-top: $navbar-height;
  background-color: $brand-primary;
}

header {
  background-color: #fff;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: $section-padding*2;
    padding-bottom: $section-padding*2;
  }

}

footer {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color: $brand-primary;
  color: #fff;
}

.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color: #ffffff;
}

.section-header {
  margin-bottom: $section-padding;
}

.section-inverse {
  background-color: $brand-info;
}

.text-container {
  margin: auto;
  max-width: $container-sm;

  > p {
    font-size: $font-size-large;
  }
}

.call-to-action {
  margin-top: ceil($section-padding/2);
  margin-bottom: ceil($section-padding/2);

  @media (min-width: $grid-float-breakpoint) {
    margin-top: $section-padding;
    margin-bottom: $section-padding;
  }
}

.title-featured {
  text-transform: uppercase;
}

// SVG

.brasil {
  fill: none;
  stroke: #2c3e50;
  stroke-width: 1px;
}

.semiarido {
  fill: none;
  stroke: none;
  stroke-width: 0.4px;
}

.beneficiados {
  stroke: black;
  stroke-width: 0.4px;
}

.label {
  fill: #2c3e50;
  margin: auto;
}
