// bower:scss
// endbower

// SVG properties

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Courgette');

.brasil {
  fill: none;
  stroke: #2c3e50;
  stroke-width: 1px;
}

.semiarido {
  fill: none;
  stroke: none;
  stroke-width: 0.4px;
}

.beneficiados {
  stroke: black;
  stroke-width: 0.4px;
}

.label {
  fill: #2c3e50;
}

// Page properties
// Côco #a17f40   Agua #35a3b7  Amarelo #facc32
body {
  margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #35a3b7;
  font-family: 'Courgette', cursive;
}

h1 {
  font-size: 60px;
}

p {
  color: #a17f40;
  line-height: 1.8;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.navbar {
  background-color: #a17f40;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.about-section {
  margin-top: 190px;
  text-align: center;
}

.g-intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.g-intro-img {
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .g-intro-subtitle {
    width: 680px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
  }
}

.btn-primary {
  background-color: #facc32;
  border-color: #facc32;
  color: #222;
}

.btn-primary:hover {
  background-color: #35a3b7;
  border-color: #35a3b7;
}
