// bower:scss
// endbower

// SVG properties

.brasil {
  fill: #fff;
  stroke: black;
  stroke-width: 0.4px;
}

.semiarido {
  fill: #804000;
  stroke: black;
  stroke-width: 0.4px;
}

.beneficiados {
  fill: blue;
  stroke: black;
  stroke-width: 0.4px;
}
