<div class="container about-section">
  <h1> Valei-me São Francisco </h1>
  <p class="description">O projeto de transposição do Rio São Francisco é um tema bastante polêmico, pois engloba a suposta tentativa de solucionar um problema que há muito afeta as populações do semi-árido brasileiro, a seca; e, ao mesmo tempo, trata-se de um projeto delicado do ponto de vista ambiental, pois irá afetar um dos rios mais importantes do Brasil, tanto pela sua extensão e importância na manutenção da biodiversidade, quanto pela sua utilização em transportes e abastecimento.</p>
  <p class="description"> Além disso, muitas das cidades onde a obra acontecem não possuem tratamento de esgoto adequado, acabando por poluir a água vinda do rio. Tendo isso em vista, o projeto <b>"Valei-me São Francisco"</b> buscou informar ao leitor a respeito da distribuição de água e tratamento de esgoto nas cidades beneficiadas pela transposição.</p>
</div>
