<div class="container equipe-section">
  <h1 style="text-align: center"> Equipe </h1>
  <div class="row">
	  <div class="col-sm-4">
	  	<img src="images/equipe/1.jpg" style="width: 100%; ">
	  	<div style="text-align: center; margin-top: 10px">
	  		<b>Diógenes Feitosa</b>
	  		<p>Jornalista</p>
	  	</div>
	  </div>
	  <div class="col-sm-4">
		<img src="images/equipe/2.jpg" style="width: 100%">
		<div style="text-align: center; margin-top: 10px">
	  		<b>Jefferson Nunes</b>
	  		<p>Engenheiro de Software</p>
	  	</div>
	  </div>
	  <div class="col-sm-4">
		<img src="images/equipe/3.jpg" style="width: 100%">
		<div style="text-align: center; margin-top: 10px">
	  		<b>Matteus Silva</b>
	  		<p>Engenheiro de Software</p>
	  	</div>
	  </div>
	  <div class="col-sm-4">
		<img src="images/equipe/4.jpg" style="width: 100%">
		<div style="text-align: center; margin-top: 10px">
	  		<b>Tatiana Saturno</b>
	  		<p>Cientista de Dados</p>
	  	</div>
	  </div>
	  <div class="col-sm-4">
		<img src="images/equipe/5.jpg" style="width: 100%">
		<div style="text-align: center; margin-top: 10px">
	  		<b>Tereza</b>
	  		<p>Pesquisadora do INSA</p>
	  	</div>
	  </div>
  </div>
</div>
