<div class="container">
  <div id="chart"></div>
</div>

<script>
  var
      width = 800,
      height = 400;

  var svg = d3.select("#chart")
      .append("svg")
      .attr('version', '1.1')
      .attr('viewBox', '0 0 '+width+' '+height)
      .attr('width', '100%')
      .attr('class', 'map-chart');

  var projection = d3.geoAlbers()
      .center([-35, -8.4])
      .rotate([0, 0])
      .parallels([0, 0])
      .scale(2000);

  var path = d3.geoPath().projection(projection);
  var scale = d3.scaleLinear();

  d3.queue()
    .defer(d3.json, "br.json")
    .defer(d3.json, "sab.json")
    .defer(d3.csv, "municipios_beneficiados.csv")
    .await(draw);

  function draw(error, br, sab, beneficiados) {
    if (error) throw error;

    var estados = topojson.feature(br, br.objects.geo_estados);
    var municipios = topojson.feature(sab, sab.objects.municipios_sab);

    scale
      .domain([0, 1])
      .range(d3.schemePuBu[9]);

    svg.selectAll(".estados")
      .data(estados.features)
    .enter().append("path")
      .attr("id", function(d) { return "uf-"+d.properties.sigla; })
      .attr("d", path)
      .attr("class", "brasil");

    svg.selectAll(".municipios")
      .data(municipios.features)
    .enter().append("path")
      .attr("id", function(d) { return "m-"+d.properties.ID; })
      .attr("d", path)
      .attr("class", "semiarido");

    for (var i = 0; i < beneficiados.length; i++) {
      // console.log(beneficiados[i].agua / beneficiados[i].populacao);
      // console.log(beneficiados[i].nome);
      if (beneficiados[i].agua/beneficiados[i].populacao > 1) {
        console.log(beneficiados[i]);
      }
      if (beneficiados[i].agua && beneficiados[i].populacao) {
        svg.select("#m-" + beneficiados[i].codigo_ibg)
          .attr("class", "beneficiados")
          .attr("fill", scale(beneficiados[i].agua / beneficiados[i].populacao));
      } else {
        svg.select("#m-" + beneficiados[i].codigo_ibg)
          .attr("class", "beneficiados")
          .attr("fill", "#ffff80");
      }
    }
  }
  </script>
