<header>
  <div class="container">
    <h1>
      <img src="images/logo.png" alt="Valei-me São Francisco" width="300px" style="display: block; margin: auto">
    </h1>
    <h3 class="text-container text-center">Como está o atendimento de esgoto e abastecimento de água nos municípios beneficiados pela transposição do Rio São Francisco?</h3>
    <div class="call-to-action row">
      <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
        <a ui-sref="map" class="btn btn-warning btn-block btn-lg">Municípios beneficiados</a>
      </div>
      <div class="col-sm-4 col-md-3">
        <a ui-sref="plot" class="btn btn-warning btn-block btn-lg">População atendida</a>
      </div>
    </div>
  </div>
</header>
